.card_list__loader {
    display: flex;
    align-items: center;
    justify-content: center;    
    font-size: 30px;
    padding: 30px;
}

.card_grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 30px
}