.home {
    display: flex;
    height: 100vh;
}

.list-part {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.details {
    display: none;
    flex: 1;
    border-left: 1px solid #ccc;
    position: relative;
    overflow-y: auto;
}

.home.has-details .details {
    display: block;
}