img {
  max-width: 200px;
  min-width: 200px;
}

.card {
  animation: flashNew 2s ease-in-out;
  border: 10px solid yellow;
  padding: 10px;
  border-radius: 10%;
  background-color: lightgoldenrodyellow;
}

.data-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@keyframes flashNew {
  from {
    border-color: blue;
  }
  to {
    border-color: yellow;
  }
}
