form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.submit-button:disabled {
    background-color: lightcoral;
    color: grey;
}
